<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color cyan darken-2">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a href="/" class="brand-logo darken-1">
                                <span class="logo-text">APP</span>
                            </a>
                        </h1>
                    </li>
                </ul>
                <ul class="right">
                    <li> <a [routerLink]="['/login']">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->
