<ion-header>
  <ion-navbar color="danger" #mycontent>
    <ion-title>
      <strong style="text-align: center">SIGN IN</strong>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="animated fadeIn common-bg">
  <form class="login-form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div padding>
        <ion-list>
          <ion-item>
            <ion-label fixed>Username</ion-label>
            <ion-input id="username" type="text" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required></ion-input>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </ion-item>

          <ion-item>
            <ion-label fixed>Password</ion-label>
            <ion-input id="password" type="password" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required></ion-input>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </ion-item>
        </ion-list>
    </div>
    <div padding>
        <button ion-button [disabled]="loading" color="danger" block>Sign In</button>
    </div>
    <div class="input-field col s6 m6 l6" padding>
        <p class="margin medium-small">Don't have an account? <a [routerLink]="['/register']">Sign Up</a></p>
    </div>
  </form>

</ion-content>
