<ion-header>
  <ion-navbar color="default" #mycontent>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Admin</strong>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="animated fadeIn common-bg">

    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm>
          <ion-card no-margin margin-bottom class="full-width">
              <div padding>
                <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> MPESA UPLOAD</p>
                <form name="form" (ngSubmit)="submit_()" #f="ngForm" enctype="multipart/form-data" novalidate>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <input type="file" id="doc" name="doc" [(ngModel)]="model.doc" #doc placeholder="Upload file">
                        </div>
                    </div>
                    <button ion-button [disabled]="loading" block>Submit</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </form>

              </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>

<ion-menu side="left" [content]="mycontent">
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/']">Dashboard</ion-item>
      <ion-item [routerLink]="['/file-uploads']">Files</ion-item>
      <ion-item [routerLink]="['/file-create']">Upload</ion-item>
      <ion-item [routerLink]="['/login']">Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
